In [ ]:
!pip install numpy==1.23.1
!pip install pandas==1.4.3
!pip install matplotlib==3.3.2
!pip install seaborn==0.11.0
!pip install joblib==1.1.0
!pip install nltk==3.7
!pip install wordcloud==1.8.2.2
!pip install scikit_learn==1.0.2
!pip install scipy==1.9.0

# Contents:

I. [Loading the Data:](#Loading-the-Data:)

II. [Helper functions to prepare the data:](#Helper-functions-to-prepare-the-data:)

III. [Test Inference:](#Test-Inference:)

## Loading the Data:

([Contents:](#Contents:))

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

import matplotlib.pyplot as plt
import seaborn as sns

import os
import time 
import re

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn import metrics

from scipy import stats

import requests
import pickle
import joblib

import re
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

## Helper functions to prepare the data:

([Contents:](#Contents:))

In [3]:
# average propery area (feature cleaning)
def avg_property_area(x):
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)") 
    x = numbers.findall(x)
    if len(x) == 1:
        return np.float(x[0])
    elif len(x) == 2:
        return (np.float(x[0])+np.float(x[1]))/2
    else:
        return -99
    
# Outlier treatment
def clip_outliers(df,col):
    q_l = df[col].quantile(0.25)
    q_h = df[col].quantile(0.95)
    df[col] = df[col].clip(lower = q_l, upper = q_h)
    return df    

# Text cleaning
# Preprocessing the text data
REPLACE_BY_SPACE_RE = re.compile("[/(){}\[\]\|@,;!]")
BAD_SYMBOLS_RE = re.compile("[^0-9a-z #+_]")
STOPWORDS_nlp = set(stopwords.words('english'))

#Custom Stoplist
stoplist = ["i","project","living","home",'apartment',"pune","me","my","myself","we","our","ours","ourselves","you","you're","you've","you'll","you'd","your",
            "yours","yourself","yourselves","he","him","his","himself","she","she's","her","hers","herself","it",
            "it's","its","itself","they","them","their","theirs","themselves","what","which","who","whom","this","that","that'll",
            "these","those","am","is","are","was","were","be","been","being","have","has","had","having","do","does","did",
            "doing","a","an","the","and","but","if","or","because","as","until","while","of","at","by","for","with","about",
            "against","between","into","through","during","before","after","above","below","to","from","up","down","in","out",
            "on","off","over","under","again","further","then","once","here","there","when","where","why","all","any",
            "both","each","few","more","most","other","some","such","no","nor","not","only","own","same","so","than","too",
            "very","s","t","can","will","just","don","don't","should","should've","now","d","ll","m","o","re","ve","y","ain",
            "aren","couldn","didn","doesn","hadn","hasn",
            "haven","isn","ma","mightn","mustn","needn","shan","shan't",
            "shouldn","wasn","weren","won","rt","rt","qt","for",
            "the","with","in","of","and","its","it","this","i","have","has","would","could","you","a","an",
            "be","am","can","edushopper","will","to","on","is","by","ive","im","your","we","are","at","as","any","ebay","thank","hello","know",
            "need","want","look","hi","sorry","http", "https","body","dear","hello","hi","thanks","sir","tomorrow","sent","send","see","there","welcome","what","well","us"]

STOPWORDS_nlp.update(stoplist)

# Function to preprocess the text
def text_prepare(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.replace("\d+"," ") # removing digits
    text = re.sub(r"(?:\@|https?\://)\S+", "", text) #removing mentions and urls
    text = text.lower() # lowercase text
    text =  re.sub('[0-9]+', '', text)
    text = REPLACE_BY_SPACE_RE.sub(" ", text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub(" ", text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = ' '.join([word for word in text.split() if word not in STOPWORDS_nlp]) # delete stopwors from text
    text = text.strip()
    return text

# Pos counter
def pos_counter(x,pos):
    """
    Returns the count for the given parts of speech tag
    
    NN - Noun
    VB - Verb
    JJ - Adjective
    RB - Adverb
    """
    tokens = nltk.word_tokenize(x.lower())
    tokens = [word for word in tokens if word not in STOPWORDS_nlp]
    text = nltk.Text(tokens)
    tags = nltk.pos_tag(text)
    counts = Counter(tag for word,tag in tags)
    return counts[pos]

In [4]:
def preprocess(df):
    # Extracting State and Country separately from the Location Column
    df['City'] = df['Location'].apply(lambda x: x.split(',')[0].lower().strip())
    df['State'] = df['Location'].apply(lambda x: x.split(',')[1].lower().strip())
    df['Country'] = df['Location'].apply(lambda x: x.split(',')[2].lower().strip())
    
    # Regex to match the numbers and create a separate column
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)") 
    df['Property Type Cleaned'] = df['Propert Type'].apply(lambda x: numbers.findall(x)[0] 
                                                           if len(numbers.findall(x)) > 0 else 0)
    
    # Cleaning the text columns
    df['Sub-Area Cleaned'] = df['Sub-Area'].apply(lambda x: x.lower().strip())
    df['Company Name Cleaned'] = df['Company Name'].apply(lambda x: x.lower().strip())
    df['TownShip Name/ Society Name Cleaned'] = df['TownShip Name/ Society Name'].apply(lambda x: x.lower().strip())
    df['Description Cleaned'] = df['Description'].apply(lambda x: x.lower().strip())
    
    
    # Cleaning and encoding Binary Features
    df['ClubHouse Cleaned'] = (df['ClubHouse'].apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['School / University in Township Cleaned'] = (df['School / University in Township ']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Hospital in TownShip Cleaned'] = (df['Hospital in TownShip']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Mall in TownShip Cleaned'] = (df['Mall in TownShip']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Park / Jogging track Cleaned'] = (df['Park / Jogging track']
                                                         .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Swimming Pool Cleaned'] = (df['Swimming Pool']
                                                     .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0}))
    df['Gym Cleaned'] = (df['Gym']
                                 .apply(lambda x: x.lower().strip()).map({'yes':1, 'no':0})) 
    
    

    # Cleaning numerical columns
    numbers = re.compile(r"[-+]?(\d*\.\d+|\d+)")     
    df['Property Area in Sq. Ft. Cleaned'] = df['Property Area in Sq. Ft.'].apply(lambda x: avg_property_area(str(x)))
#     df['Price in lakhs Cleaned'] = (df['Price in lakhs'].apply(lambda x: np.float(numbers.findall(str(x))[0]) 
#                                                                if len(numbers.findall(str(x)))>0 else np.nan ))
    
    # Selecting the requried columns
    features = df.columns.tolist()[18:]
    df1 = df[features]
    df_final = df1.dropna()
    
    return df_final

In [5]:
def create_features(df):
    # outlier treatment
    # Treating outliers in the numeric columns
    cols_to_treat = ['Property Area in Sq. Ft. Cleaned']
    
    for col in cols_to_treat:
        df = clip_outliers(df,col)
    
    # creating the price by sub-area feature
    fileName = 'model/sub_area_price_map.pkl'
    with open(fileName,'rb') as f:
        sub_area_price_map = pickle.load(f)    
    df['Price by sub-area'] =  df['Sub-Area Cleaned'].map(sub_area_price_map)
    
    # Adding the amenitites score feature
    amenities_col = ['ClubHouse Cleaned',
                     'School / University in Township Cleaned',
                     'Hospital in TownShip Cleaned',
                     'Mall in TownShip Cleaned',
                     'Park / Jogging track Cleaned',
                     'Swimming Pool Cleaned',
                     'Gym Cleaned']
    temp = df[amenities_col]
    temp['Amenities score'] = temp.sum(axis=1)
    df['Amenities score'] = temp['Amenities score']
    
    # creating the price by amenities score feature
    fileName = 'model/amenities_score_price_map.pkl'
    with open(fileName,'rb') as f:
        amenities_score_price_map = pickle.load(f)  
        
    df['Price by Amenities score'] =  df['Amenities score'].map(amenities_score_price_map)
    
    # cleaning the description column and creating pos features
    df["Description Cleaned"] =  df["Description Cleaned"].astype(str).apply(text_prepare)
    df['Noun_Counts'] = df['Description Cleaned'].apply(lambda x: pos_counter(x,'NN'))
    df['Verb_Counts'] = df['Description Cleaned'].apply(lambda x: (pos_counter(x,'VB')+pos_counter(x,'RB')))
    df['Adjective_Counts'] = df['Description Cleaned'].apply(lambda x: pos_counter(x,'JJ'))
    
    # Ngram features
    fileName = 'model/count_vectorizer.pkl'
    with open(fileName,'rb') as f:
        cv_object = pickle.load(f)
    
    X = cv_object.transform(df['Description Cleaned'])
    df_ngram = pd.DataFrame(X.toarray(),columns=cv_object.get_feature_names())
     
    # Adding this to the main dataframe
    df_final = pd.concat([df.reset_index(drop=True),df_ngram.reset_index(drop=True)],axis=1)
    
    # selecting the final model ready features
    fileName = 'model/raw_features_mapping.pkl'
    with open(fileName,'rb') as f:
        feature_mapping = pickle.load(f)   
        
    fileName = 'model/features.pkl'
    with open(fileName,'rb') as f:
        feature_list = pickle.load(f)           
    
    # Removing price column as it is not available in test data
    feature_list.remove('Price_in_lakhs')

    df_final = df_final.rename(columns=feature_mapping)
    df_final = df_final[feature_list]
    
    return df_final

## Test Inference:

([Contents:](#Contents:))

In [6]:
# Loading the data
data= pd.read_excel('data/Pune Real Estate Data.xlsx')
data = data.drop(['Price in Millions','Price in lakhs'],axis=1)
print(data.shape)
data.head()

(200, 16)

,Sr. No.,Location,Sub-Area,Propert Type,Property Area in Sq. Ft.,Company Name,TownShip Name/ Society Name,Total TownShip Area in Acres,ClubHouse,School / University in Township,Hospital in TownShip,Mall in TownShip,Park / Jogging track,Swimming Pool,Gym,Description
0,1,"Pune, Maharashtra, India",Bavdhan,1 BHK,492,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Shapoorji Paloonji comunity located in the sub...
1,2,"Pune, Maharashtra, India",Bavdhan,2 BHK,774,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha Township located near the lonavala hill...
2,3,"Pune, Maharashtra, India",Bavdhan,3 BHK,889,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha Society is suitable for all aged group ...
3,4,"Pune, Maharashtra, India",Bavdhan,3 BHK Grand,1018,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Vanaha township are offering 3BHK grand prpoer...
4,5,"Pune, Maharashtra, India",Mahalunge,2BHK,743,Godrej Properties,Godrej Hills retreat,100.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,The area is a hub of prestigious schools like ...

In [7]:
df_preprocess = preprocess(data)

In [8]:
print(df_preprocess.shape)
df_preprocess.head()

(200, 14)

,Country,Property Type Cleaned,Sub-Area Cleaned,Company Name Cleaned,TownShip Name/ Society Name Cleaned,Description Cleaned,ClubHouse Cleaned,School / University in Township Cleaned,Hospital in TownShip Cleaned,Mall in TownShip Cleaned,Park / Jogging track Cleaned,Swimming Pool Cleaned,Gym Cleaned,Property Area in Sq. Ft. Cleaned
0,india,1,bavdhan,shapoorji paloonji,vanaha,shapoorji paloonji comunity located in the sub...,1,1,1,1,1,1,1,492.0
1,india,2,bavdhan,shapoorji paloonji,vanaha,vanaha township located near the lonavala hill...,1,1,1,1,1,1,1,774.0
2,india,3,bavdhan,shapoorji paloonji,vanaha,vanaha society is suitable for all aged group ...,1,1,1,1,1,1,1,889.0
3,india,3,bavdhan,shapoorji paloonji,vanaha,vanaha township are offering 3bhk grand prpoer...,1,1,1,1,1,1,1,1018.0
4,india,2,mahalunge,godrej properties,godrej hills retreat,the area is a hub of prestigious schools like ...,1,1,1,1,1,1,1,743.0

In [9]:
df_features = create_features(df_preprocess)

In [10]:
print(df_features.shape)
df_features.head()

(200, 25)

,PropertyType,ClubHouse,School_University_in_Township,Hospital_in_TownShip,Mall_in_TownShip,Park_Jogging_track,Swimming_Pool,Gym,Property_Area_in_Sq_Ft,Price_by_sub_area,Amenities_score,Price_by_Amenities_score,Noun_Counts,Verb_Counts,Adjective_Counts,boasts_elegant,elegant_towers,every_day,great_community,mantra_gold,offering_bedroom,quality_specification,stories_offering,towers_stories,world_class
0,1,1,1,1,1,1,1,1,670.0,58.044000,7,72.666667,9,1,3,0,0,0,0,0,0,0,0,0,0
1,2,1,1,1,1,1,1,1,774.0,58.044000,7,72.666667,9,1,3,0,0,0,0,0,0,0,0,0,0
2,3,1,1,1,1,1,1,1,889.0,58.044000,7,72.666667,9,1,3,0,0,0,0,0,0,0,0,0,0
3,3,1,1,1,1,1,1,1,1018.0,58.044000,7,72.666667,8,1,3,0,0,0,0,0,0,0,0,0,0
4,2,1,1,1,1,1,1,1,743.0,73.555556,7,72.666667,12,1,6,0,0,0,0,0,0,0,0,0,0

In [11]:
columns = df_features.columns.tolist()
columns[:5]

['PropertyType',
 'ClubHouse',
 'School_University_in_Township',
 'Hospital_in_TownShip',
 'Mall_in_TownShip']

In [12]:
payload = df_features.iloc[3].to_dict()
#Even if an integer of the type int64 is present in another object like a dictionary, 
#the TypeError exception will occur with the message “TypeError: Object of type int64 is not JSON serializable”
import json
# define a class to avoid that
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)
    
payload = json.dumps(payload,cls=NpEncoder)

In [13]:
payload

'{"PropertyType": "3", "ClubHouse": 1, "School_University_in_Township": 1, "Hospital_in_TownShip": 1, "Mall_in_TownShip": 1, "Park_Jogging_track": 1, "Swimming_Pool": 1, "Gym": 1, "Property_Area_in_Sq_Ft": 1018.0, "Price_by_sub_area": 58.044000000000004, "Amenities_score": 7, "Price_by_Amenities_score": 72.66666666666667, "Noun_Counts": 8, "Verb_Counts": 1, "Adjective_Counts": 3, "boasts_elegant": 0, "elegant_towers": 0, "every_day": 0, "great_community": 0, "mantra_gold": 0, "offering_bedroom": 0, "quality_specification": 0, "stories_offering": 0, "towers_stories": 0, "world_class": 0}'

In [14]:
payload = df_features.iloc[3].to_dict()
payload = json.dumps(payload,cls=NpEncoder)

out =  requests.post(url='https://property-price-prediction-live.herokuapp.com/predict',
                data=payload)

In [15]:
out.text

'"[85.55245708]"'

In [16]:
output = []
for i in range(len(df_features)):
    payload = df_features.iloc[i].to_dict()
    payload = json.dumps(payload,cls=NpEncoder)
    
    out =  requests.post(url='https://property-price-prediction-live.herokuapp.com/predict',
                    data=payload)
    result = np.float(re.sub('[^A-Za-z0-9.]+', '', out.text))  
    output.append(result)

In [17]:
output

[41.73696173,
 57.70878214,
 74.58849812,
 85.55245708,
 66.79123803,
 84.59893199,
 77.66213533,
 108.16028495,
 78.39072133,
 109.57364513,
 159.10621088,
 176.79921586,
 173.62768353,
 82.30834029,
 118.12537567,
 50.24301879,
 57.96254756,
 79.05972822,
 52.32957137,
 69.86078406,
 74.73422689,
 103.96509677,
 38.42625687,
 62.09826553,
 52.03298601,
 56.40783384,
 67.41405046,
 88.43816135,
 71.24488624,
 73.88559514,
 83.5413806,
 84.88514865,
 103.69906684,
 102.73270284,
 115.79059498,
 61.73645075,
 106.18832373,
 85.2035976,
 119.28481463,
 42.50511413,
 74.52375717,
 143.78489959,
 30.68352346,
 37.17655204,
 41.66563326,
 84.43268267,
 87.32860919,
 115.21966742,
 109.0564247,
 123.23834368,
 168.31854671,
 42.84774364,
 51.65022681,
 55.37759299,
 65.17603304,
 60.00438345,
 48.02535026,
 58.46073342,
 64.29291026,
 56.84451424,
 86.81352401,
 42.71811613,
 53.57938083,
 71.38925869,
 68.10531012,
 89.62387405,
 80.54255645,
 198.02413568,
 206.04585597,
 71.86346632,
 75.42780719,
 68.29750563,
 71.6028411,
 101.65920588,
 98.28978398,
 49.31402349,
 58.67832153,
 65.44468952,
 101.17783324,
 70.94985793,
 92.79167626,
 100.56553118,
 36.69869583,
 41.03465445,
 57.51660476,
 129.13718503,
 104.83352665,
 56.81860231,
 54.15596765,
 54.0140884,
 52.78332523,
 54.99632164,
 147.1047694,
 151.06983648,
 158.17612746,
 171.80572794,
 184.14667896,
 185.42457951,
 62.6327785,
 80.45007225,
 87.38493708,
 88.82832672,
 114.71905331,
 118.52342566,
 133.89414118,
 127.78941741,
 49.82525388,
 53.14347139,
 41.20612597,
 49.22784625,
 48.46613121,
 46.9374395,
 47.70178535,
 66.77560635,
 99.57873886,
 99.76561911,
 104.72261629,
 132.78680943,
 143.78560808,
 68.63605051,
 88.45795607,
 78.32650261,
 91.80755637,
 73.25928293,
 70.71176549,
 75.16217959,
 101.13640178,
 125.79157006,
 156.31923186,
 71.43341516,
 69.13488019,
 167.61816787,
 54.22598083,
 56.35135397,
 64.0215926,
 95.02977235,
 91.6406071,
 103.22321155,
 131.98194994,
 127.53614369,
 135.76576043,
 55.67023468,
 64.32300233,
 67.35364023,
 88.65141817,
 114.40368235,
 69.98262209,
 72.63450426,
 80.3732065,
 61.07579212,
 60.83163938,
 50.25739822,
 52.82766646,
 78.02168578,
 80.09280294,
 41.21853188,
 46.27259709,
 62.4600622,
 92.84558114,
 98.57878141,
 99.41249173,
 46.16730005,
 58.74478641,
 44.42937561,
 52.42470837,
 77.68093174,
 81.77121323,
 187.80992054,
 199.21588711,
 58.85402194,
 81.20990984,
 69.98181477,
 99.05021164,
 63.77388586,
 47.40959022,
 43.85190372,
 45.8836447,
 44.48565898,
 56.04043329,
 64.54846529,
 71.17383046,
 70.0195556,
 146.50860221,
 180.87147588,
 188.94860414,
 42.68429272,
 42.28738761,
 44.07964764,
 56.25191475,
 52.36277989,
 46.44201944,
 28.66659645,
 28.94623141,
 95.36841668,
 127.8689963,
 148.92776178,
 175.39909445,
 93.18527057,
 131.97620132,
 100.7738478]

In [18]:
# data= pd.read_excel(r'../data/Pune Real Estate Data.xlsx')
# data.head()

In [19]:
def get_prediction_interval(interval_estimate, prediction):
    '''
    Get a prediction interval for a linear regression model.
    
    INPUTS: 
        - interval_estimate based on the final model's performance on the training data 
        - predicted values for the test data,
        - Prediction interval threshold (default = .95) 
    OUTPUT: 
        - Prediction interval for single test prediction
    '''
    
    #generate prediction interval lower and upper bound cs_24
    lower, upper = prediction - interval_estimate, prediction + interval_estimate
    return lower, upper

In [20]:
import pickle
fileName = 'model/interval_est.pkl'
with open(fileName,'rb') as f:
    interval = pickle.load(f)

interval

31.826834460432945

In [21]:
# getting prediction intervals for the test data
lower_vet = []
upper_vet = []

for out in output:
    lower, upper =  get_prediction_interval(interval,out)
    lower_vet.append(lower)
    upper_vet.append(upper)

In [22]:
pd.DataFrame(zip(lower_vet,upper_vet,output),columns=['lower','upper','mean'])

          lower       upper        mean
0      9.910127   73.563796   41.736962
1     25.881948   89.535617   57.708782
2     42.761664  106.415333   74.588498
3     53.725623  117.379292   85.552457
4     34.964404   98.618072   66.791238
5     52.772098  116.425766   84.598932
6     45.835301  109.488970   77.662135
7     76.333450  139.987119  108.160285
8     46.563887  110.217556   78.390721
9     77.746811  141.400480  109.573645
10   127.279376  190.933045  159.106211
11   144.972381  208.626050  176.799216
12   141.800849  205.454518  173.627684
13    50.481506  114.135175   82.308340
14    86.298541  149.952210  118.125376
15    18.416184   82.069853   50.243019
16    26.135713   89.789382   57.962548
17    47.232894  110.886563   79.059728
18    20.502737   84.156406   52.329571
19    38.033950  101.687619   69.860784
20    42.907392  106.561061   74.734227
21    72.138262  135.791931  103.965097
22     6.599422   70.253091   38.426257
23    30.271431   93.925100   62.098266
24    20.206152   83.859820   52.032986
25    24.580999   88.234668   56.407834
26    35.587216   99.240885   67.414050
27    56.611327  120.264996   88.438161
28    39.418052  103.071721   71.244886
29    42.058761  105.712430   73.885595
30    51.714546  115.368215   83.541381
31    53.058314  116.711983   84.885149
32    71.872232  135.525901  103.699067
33    70.905868  134.559537  102.732703
34    83.963761  147.617429  115.790595
35    29.909616   93.563285   61.736451
36    74.361489  138.015158  106.188324
37    53.376763  117.030432   85.203598
38    87.457980  151.111649  119.284815
39    10.678280   74.331949   42.505114
40    42.696923  106.350592   74.523757
41   111.958065  175.611734  143.784900
42    -1.143311   62.510358   30.683523
43     5.349718   69.003387   37.176552
44     9.838799   73.492468   41.665633
45    52.605848  116.259517   84.432683
46    55.501775  119.155444   87.328609
47    83.392833  147.046502  115.219667
48    77.229590  140.883259  109.056425
49    91.411509  155.065178  123.238344
50   136.491712  200.145381  168.318547
51    11.020909   74.674578   42.847744
52    19.823392   83.477061   51.650227
53    23.550759   87.204427   55.377593
54    33.349199   97.002868   65.176033
55    28.177549   91.831218   60.004383
56    16.198516   79.852185   48.025350
57    26.633899   90.287568   58.460733
58    32.466076   96.119745   64.292910
59    25.017680   88.671349   56.844514
60    54.986690  118.640358   86.813524
61    10.891282   74.544951   42.718116
62    21.752546   85.406215   53.579381
63    39.562424  103.216093   71.389259
64    36.278476   99.932145   68.105310
65    57.797040  121.450709   89.623874
66    48.715722  112.369391   80.542556
67   166.197301  229.850970  198.024136
68   174.219022  237.872690  206.045856
69    40.036632  103.690301   71.863466
70    43.600973  107.254642   75.427807
71    36.470671  100.124340   68.297506
72    39.776007  103.429676   71.602841
73    69.832371  133.486040  101.659206
74    66.462950  130.116618   98.289784
75    17.487189   81.140858   49.314023
76    26.851487   90.505156   58.678322
77    33.617855   97.271524   65.444690
78    69.350999  133.004668  101.177833
79    39.123023  102.776692   70.949858
80    60.964842  124.618511   92.791676
81    68.738697  132.392366  100.565531
82     4.871861   68.525530   36.698696
83     9.207820   72.861489   41.034654
84    25.689770   89.343439   57.516605
85    97.310351  160.964019  129.137185
86    73.006692  136.660361  104.833527
87    24.991768   88.645437   56.818602
88    22.329133   85.982802   54.155968
89    22.187254   85.840923   54.014088
90    20.956491   84.610160   52.783325
91    23.169487   86.823156   54.996322
92   115.277935  178.931604  147.104769
93   119.243002  182.896671  151.069836
94   126.349293  190.002962  158.176127
95   139.978893  203.632562  171.805728
96   152.319844  215.973513  184.146679
97   153.597745  217.251414  185.424580
98    30.805944   94.459613   62.632779
99    48.623238  112.276907   80.450072
100   55.558103  119.211772   87.384937
101   57.001492  120.655161   88.828327
102   82.892219  146.545888  114.719053
103   86.696591  150.350260  118.523426
104  102.067307  165.720976  133.894141
105   95.962583  159.616252  127.789417
106   17.998419   81.652088   49.825254
107   21.316637   84.970306   53.143471
108    9.379292   73.032960   41.206126
109   17.401012   81.054681   49.227846
110   16.639297   80.292966   48.466131
111   15.110605   78.764274   46.937440
112   15.874951   79.528620   47.701785
113   34.948772   98.602441   66.775606
114   67.751904  131.405573   99.578739
115   67.938785  131.592454   99.765619
116   72.895782  136.549451  104.722616
117  100.959975  164.613644  132.786809
118  111.958774  175.612443  143.785608
119   36.809216  100.462885   68.636051
120   56.631122  120.284791   88.457956
121   46.499668  110.153337   78.326503
122   59.980722  123.634391   91.807556
123   41.432448  105.086117   73.259283
124   38.884931  102.538600   70.711765
125   43.335345  106.989014   75.162180
126   69.309567  132.963236  101.136402
127   93.964736  157.618405  125.791570
128  124.492397  188.146066  156.319232
129   39.606581  103.260250   71.433415
130   37.308046  100.961715   69.134880
131  135.791333  199.445002  167.618168
132   22.399146   86.052815   54.225981
133   24.524520   88.178188   56.351354
134   32.194758   95.848427   64.021593
135   63.202938  126.856607   95.029772
136   59.813773  123.467442   91.640607
137   71.396377  135.050046  103.223212
138  100.155115  163.808784  131.981950
139   95.709309  159.362978  127.536144
140  103.938926  167.592595  135.765760
141   23.843400   87.497069   55.670235
142   32.496168   96.149837   64.323002
143   35.526806   99.180475   67.353640
144   56.824584  120.478253   88.651418
145   82.576848  146.230517  114.403682
146   38.155788  101.809457   69.982622
147   40.807670  104.461339   72.634504
148   48.546372  112.200041   80.373206
149   29.248958   92.902627   61.075792
150   29.004805   92.658474   60.831639
151   18.430564   82.084233   50.257398
152   21.000832   84.654501   52.827666
153   46.194851  109.848520   78.021686
154   48.265968  111.919637   80.092803
155    9.391697   73.045366   41.218532
156   14.445763   78.099432   46.272597
157   30.633228   94.286897   62.460062
158   61.018747  124.672416   92.845581
159   66.751947  130.405616   98.578781
160   67.585657  131.239326   99.412492
161   14.340466   77.994135   46.167300
162   26.917952   90.571621   58.744786
163   12.602541   76.256210   44.429376
164   20.597874   84.251543   52.424708
165   45.854097  109.507766   77.680932
166   49.944379  113.598048   81.771213
167  155.983086  219.636755  187.809921
168  167.389053  231.042722  199.215887
169   27.027187   90.680856   58.854022
170   49.383075  113.036744   81.209910
171   38.154980  101.808649   69.981815
172   67.223377  130.877046   99.050212
173   31.947051   95.600720   63.773886
174   15.582756   79.236425   47.409590
175   12.025069   75.678738   43.851904
176   14.056810   77.710479   45.883645
177   12.658825   76.312493   44.485659
178   24.213599   87.867268   56.040433
179   32.721631   96.375300   64.548465
180   39.346996  103.000665   71.173830
181   38.192721  101.846390   70.019556
182  114.681768  178.335437  146.508602
183  149.044641  212.698310  180.871476
184  157.121770  220.775439  188.948604
185   10.857458   74.511127   42.684293
186   10.460553   74.114222   42.287388
187   12.252813   75.906482   44.079648
188   24.425080   88.078749   56.251915
189   20.535945   84.189614   52.362780
190   14.615185   78.268854   46.442019
191   -3.160238   60.493431   28.666596
192   -2.880603   60.773066   28.946231
193   63.541582  127.195251   95.368417
194   96.042162  159.695831  127.868996
195  117.100927  180.754596  148.927762
196  143.572260  207.225929  175.399094
197   61.358436  125.012105   93.185271
198  100.149367  163.803036  131.976201
199   68.947013  132.600682  100.773848